[Desktop Entry]
Name=xcircuit
Comment=Drawing electrical circuit schematic
Comment[pl]=Rysowanie schematów ektronicznych
Icon=xcircuit
Exec=xcircuit
Terminal=false
Type=Application
Categories=Science;
# vi: encoding=utf-8
